@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Montserrat", sans-serif;
    --breakpoint-3xl: 1920px;
    --color-primary:#a3f55c;
}

@layer base {
    html {
        font-family: var(--font-display);
    }

    body {
        background-color: #1b1c1a;
        color: white;
        overflow-x: hidden;
    }
}

.input-box {
    @apply w-full flex justify-between gap-3 text-sm text-white bg-teal-950 rounded-xl px-4 py-4 mt-3 mb-4 border border-slate-100
}

.btn-primary {
    @apply w-full bg-primary hover:bg-green-600 text-slate-950 shadow-sm shadow-slate-700 font-bold py-3 px-4 mt-3  rounded-xl
}

.card {
    @apply bg-[#1b1c1a] p-6 rounded-3xl border border-gray-200/50;
}

.card-btn {
    @apply flex items-center gap-3 text-[12px] font-medium text-white hover:text-primary border border-slate-100/50 rounded-xl hover:border-primary hover:bg-emerald-950/50 px-4 py-1.5 cursor-pointer
}

.add-btn {
    @apply flex items-center gap-3 text-[12px] font-medium text-white hover:text-primary border border-slate-100/50 rounded-xl hover:border-primary hover:bg-emerald-950/50 px-4 py-1.5 cursor-pointer
}
